{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react",
    "meteor"
  ],
  "env": {
    "browser": true,
    "node": true,
    "meteor": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:meteor/recommended", "airbnb"]
}
